<div class="row">

    <h3>Fullness: </h3>

    <h3>Happiness: </h3>

    <h3>Meals: </h3>

    <h3>Energy: </h3>

</div>

<div class="row text-center">
    <img src="/images/dojodatchi.gif" alt="">
</div>

<div class="row text-center">
    <button type="button" class="btn btn-lg btn-default">Feed</button>
    <button type="button" class="btn btn-lg btn-default">Play</button>
    <button type="button" class="btn btn-lg btn-default">Work</button>
    <button type="button" class="btn btn-lg btn-default">Restart</button>
</div>
