@{
    ViewData["Title"] = "Home Page";
}


    

<div class="row">
    <h2>About Me</h2>
    
    <img src="https://s3.amazonaws.com/General_V88/boomyeah2015/codingdojo/user12462/profile_pic/Dietz.Justin_square.jpg?1497387048" alt="Justin Dietz">
    <p>My name is Justing Dietz I am a full stack developer</p>

    <address>
        18628 176th Pl SE<br />
        Renton, WA 98058<br />
        <abbr title="Phone">P:</abbr>
        509.230.4274
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:justin.r.dietz@gmail.com">justin.r.dietz@gmail.com</a><br />
    </address>
</div>
