@model List<Message>



@foreach(var message in @Model){
    <h3>@message.User.FirstName @message.User.LastName - @message.Created.ToString("MMMM d, yyyy")</h3>
    <blockquote>@message.MessageText</blockquote>
}

