@model ReviewViewModel

<form asp-controller="Reviews" asp-action="Create" method="post"> 
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="RestaurantId" class="control-label"></label>
        <select name="RestaurantId" id="RestaurantId" class="form-control">
            <option value="">Select a Restaurant</option>
            @foreach(Restaurant r in @ViewBag.restaurants){
                <option value="@r.RestaurantId">@r.Name</option>
            }
            
        </select>
         <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input type="number" name="Rating" id="Rating" class="form-control" value="" min="0" max="5" step="1" >
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReviewText" class="control-label"></label>
        <textarea name="ReviewText" id="ReviewText" class="form-control" rows="3"></textarea>
        <span asp-validation-for="ReviewText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VisitDate" class="control-label"></label>
        <input type="date" name="VisitDate" id="VisitDate" class="form-control">
        <span asp-validation-for="VisitDate" class="text-danger"></span>
    </div> 

    <div class="form-group">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Post a Review</button>
        </div>
         &nbsp;
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



